$charcoal: #bbb;
$darkblue: #024059;
$teal: #03A696;
$green: #63BF84;
$yellow: #F5ED0F;
$orange: #F28963;
$black: #000000;

.welcome-message {
  align-items: center;
  color: white;
  display: flex;
  padding-right: 20px;
}

.nav-brand {
  align-items: left;
  text-shadow: -3px 7px 8px #141414;
}

.main-header {
  background-color: #d7dad4;
  margin-bottom: 10px;
  align-items: center;
  display: flex;
  font-family: 'Baloo Da', cursive;
  height: 100px;
  padding: 0 20px;
  box-shadow: 0 8px 6px -6px $black;

  a,
  span {
    font-size: 1.2em;
    margin: 0 15px;
  }
}

.main-header > Nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.bolt {
  color: $yellow;
}

@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    font-size: 0.7em;
    height: auto;
    padding: 10px;

    h1 {
      font-size: 2.5em;
    }
  }
}

@media (max-width: 450px) {
  .main-header > nav {
    flex-direction: column;
    width: 100%;

    a,
    span {
      margin-bottom: 5px;
      text-align: center;
      width: 80%;
    }
  }
}
